* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0F172A;
  color: #f8fafc;
  font-family: Arial, sans-serif, Helvetica;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

.logo:hover {
  color: #38BDF8;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  color: #f8fafc;
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  color: #38BDF8;
}

.apresentacao {
  max-width: 900px;
  min-height: calc(100vh - 90px);
  margin: 0 auto;
  padding: 120px 30px;
}

.apresentacao h1 {
  font-size: 64px;
  margin: 10px 0;
}

.apresentacao h2 {
  font-size: 28px;
  color: #38BDF8;
  margin-bottom: 25px;
}

.apresentacao p {
  font-size: 18px;
  line-height: 1.6;
}

.botoes {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.botoes a {
  display: inline-block;
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.botoes a:first-child {
  background-color: #38BDF8;
  color: #0F172A;
}

.botoes a:first-child:hover {
  background-color: #7dd3fc;
}

.botoes a:not(:first-child) {
  border: 1px solid #334155;
  color: #f8fafc;
}

.botoes a:not(:first-child):hover {
  background-color: #132245;
  color: #f8fafc;
}

.sobre {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 30px;
}

.sobre h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.sobre p {
  font-size: 18px;
  line-height: 1.8;
}

.habilidades {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 30px;
}

.habilidades-lista {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.habilidade {
  background-color: #132245;
  border: 1px solid #334155;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
  /* flex-grow: 1; */
  width: 250px;
  text-align: center;
  transition: 0.3s;
}

.habilidades h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.habilidade:hover {
  background-color: #112656;
  border-color: #38BDF8;
}

.projetos {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 30px;
}

.projetos-lista {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.projeto {
  background-color: #132245;
  border: 1px solid #334155;
  border-radius: 6px;
  padding: 20px;
  width: 300px;
  transition: 0.3s;
}

.projeto:hover {
  transform: translateY(-5px);
  border-color: #38BDF8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.projeto img {
  width: 100%;
  height: 280px;
  border-radius: 12px;
  margin-bottom: 15px;
  object-fit: contain;
  
}

.projeto h3 {
  margin-bottom: 15px;
}

.projeto p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.tecnologias {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.tecnologias span {
  background-color: #0F172A;
  border: 1px solid #f8fafc;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
}

.projeto > a {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  background-color: #38BDF8;
  color: #0F172A;
}

.projeto > a:hover {
  background-color: #7dd3fc;
}

.formacao {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 30px;
}

.formacao-item {
  background-color: #132245;
  border: 1px solid #334155;
  border-radius: 6px;
  padding: 20px;
}

.formacao-item h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.formacao-item p {
  font-size: 16px;
  line-height: 1.6;
}

.contato {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 30px;
}

.contato p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.contatos-lista {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.contatos-lista a {
  display: inline-block;
  padding: 12px 22px;
  border: 1px solid #38BDF8;
  border-radius: 6px;
  color: #38BDF8;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.contatos-lista a:hover {
  background: #132245;
  color: #f8fafc;
  border-color: #38BDF8;
}

@media (max-width: 768px) {
  header {
    padding: 20px 30px;
  }

  .logo {
    font-size: 20px;
  }

  .links {
    gap: 15px;
  }

  .links a {
    font-size: 14px;
  }

  .apresentacao {
    padding: 80px 30px;
  }

  .apresentacao h1 {
    font-size: 48px;
  }

  .apresentacao h2 {
    font-size: 24px;
  }

  .apresentacao p {
    font-size: 16px;
  }

  .botoes {
    gap: 10px;
  }

  .sobre,
  .habilidades,
  .projetos,
  .formacao,
  .contato {
    padding: 80px 30px;
  }

  .sobre h2,
  .habilidades h2 {
    font-size: 30px;
  }

  .sobre p,
  .contato p {
    font-size: 16px;
  }

  .habilidade,
  .projeto {
    width: 100%;
    max-width: 350px;
  }

  .projeto img {
    height: 250px;
  }

  .contatos-lista {
    gap: 10px;
  }
}